<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.ysu.onionuml.ui.PerspectiveFactory"
            id="edu.ysu.onionuml.ui.PerspectiveFactory"
            name="Onion UML Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.ysu.onionuml.ui.PerspectiveFactory">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               label="Onion UML">
            <command
                  commandId="edu.ysu.onionuml.ui.command.OpenClassModelCommand"
                  label="Open Class Model..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="edu.ysu.onionuml.ui.command.OpenClassModelCommand"
            name="Open Class Model...">
      </command>
      <command
            id="edu.ysu.onionuml.ui.command.OpenSearchCommand"
            name="Search Class Model...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.ysu.onionuml.ui.handler.OpenClassModelCommandHandler"
            commandId="edu.ysu.onionuml.ui.command.OpenClassModelCommand">
      </handler>
      <handler
            class="edu.ysu.onionuml.ui.handler.OpenSearchCommandHandler"
            commandId="edu.ysu.onionuml.ui.command.OpenSearchCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.ysu.onionuml.ui.ModelViewer"
            contributorClass="edu.ysu.onionuml.ui.ModelViewerActionBarContributor"
            default="false"
            extensions="cml"
            id="edu.ysu.onionuml.ui.modelviewer"
            name="Model Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.ysu.onionuml.ui.DiagramControlView"
            id="edu.ysu.onionuml.ui.diagramcontrolview"
            name="UML Diagram Control"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.ysu.onionuml.ui.ModelViewer"
            contributorClass="edu.ysu.onionuml.ui.ModelViewerActionBarContributor"
            default="false"
            extensions="cml"
            id="edu.ysu.onionuml.ui.modelviewer"
            name="UML Model Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.ysu.onionuml.preferences.GeneralPreferencePage"
            id="edu.ysu.onionuml.preferences.GeneralPreferencePage"
            name="OnionUmlVisualization">
      </page>
      <page
            class="edu.ysu.onionuml.preferences.VisibilityPreferencePage"
            id="edu.ysu.onionuml.preferences.VisibilityPreferencePage"
            name="Visibility"
            category="edu.ysu.onionuml.preferences.GeneralPreferencePage">
      </page>
      <page
            class="edu.ysu.onionuml.preferences.ColorsPreferencePage"
            id="edu.ysu.onionuml.preferences.ColorsPreferencePage"
            name="Colors"
            category="edu.ysu.onionuml.preferences.GeneralPreferencePage">
      </page>
      <page
            class="edu.ysu.onionuml.preferences.LayoutPreferencePage"
            id="edu.ysu.onionuml.preferences.LayoutPreferencePage"
            name="Layout"
            category="edu.ysu.onionuml.preferences.GeneralPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.ysu.onionuml.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.ysu.onionuml.ui.command.OpenSearchCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+5">
      </key>
   </extension>

</plugin>
